:root {
    --tim-btn-size: 35px;
    --tim-img-size: 300px;
    --tim-shadow-normal: 5px 5px 10px #00000025;
    --tim-next-image-btn: url("./next.png");
    --tim-back-image-btn: url("./back.png");
    --tim-center-img: calc((var(--tim-img-size) / 2) - (var(--tim-btn-size) / 2));
    --tim-p-frame-fs: calc(var(--tim-img-size) / 20);
    --tim-p-frame-fg: #eee;
    --tim-true-center: calc(var(--tim-img-size) / 2);
    --tim-circle-shadow: 2px 2px 5px #00000075;
    --tim-p-frame-bdr: 10px;
    --tim-p-frame-btn-bg: #ffffff25;
    --tim-p-frame-btn-bg-hov: #ffffff75;
    --tim-space: 5px;
    --tim-p-frame-bd: 2.5px solid black;
    --tim-circle-size: calc(var(--tim-btn-size) / 3);
}

div.picture-frame.image-carousel {
    height: var(--tim-img-size);
    width: var(--tim-img-size);
    box-sizing: border-box;
    overflow: hidden;
    border: var(--tim-p-frame-bd);
    box-shadow: var(--tim-shadow-normal);
    border-radius: var(--tim-p-frame-bdr);
    display: flex;
    position: relative;
}

div.picture-frame.image-carousel > div.pictures > img.carousel-img {
    height: var(--tim-img-size);
    width: var(--tim-img-size);
    object-fit: cover;
}

div.picture-frame.image-carousel > div.pictures {
    display: flex;
    position: relative;
}

.p-frame-asset {
    position: absolute;
}

.p-frame-btn {
    border: 0;
    height: var(--tim-btn-size);
    width: var(--tim-btn-size);
    border-radius: var(--tim-btn-size);
    cursor: pointer;
    background-size: var(--tim-btn-size);
    background-color: var(--tim-p-frame-btn-bg);
    top: var(--tim-center-img);
}

.p-frame-btn:hover {
    background-color: var(--tim-p-frame-btn-bg-hov);
    box-shadow: var(--tim-shadow-normal);
}

.next-btn {
    background-image: var(--tim-next-image-btn);
    right: var(--tim-space);
}

.back-btn {
    background-image: var(--tim-back-image-btn);
    left: var(--tim-space);
}

.p-frame-circle-group {
    bottom: var(--tim-space);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: var(--tim-img-size);
}

.p-frame-circle {
    height: var(--tim-circle-size);
    width: var(--tim-circle-size);
    border-radius: var(--tim-circle-size);
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    background-color: #ffffff25;
}

.p-frame-circle.active-circle {
    background-color: white;
}

.p-frame-circle:hover {
    box-shadow: var(--tim-circle-shadow);
}