:root {
    --btn-size: 35px;
    --img-size: 250px;
    --shadow-normal: 5px 5px 10px #00000025;
    --next-image-btn: url("./next.png");
    --back-image-btn: url("./back.png");
    --tim-center-img: calc((var(--img-size) / 2) - (var(--btn-size) / 2));
}

div.picture-frame.image-carousel {
    height: var(--img-size);
    width: var(--img-size);
    box-sizing: border-box;
    overflow: hidden;
    border: 2.5px solid black;
    box-shadow: var(--shadow-normal);
    border-radius: 10px;
    display: flex;
    position: relative;
}

div.picture-frame.image-carousel > div.pictures > img.carousel-img {
    height: var(--img-size);
    width: var(--img-size);
    object-fit: cover;
}

div.picture-frame.image-carousel > div.pictures {
    display: flex;
    position: relative;
}

.p-frame-asset {
    position: absolute;
}

.p-frame-btn {
    border: 0;
    height: var(--btn-size);
    width: var(--btn-size);
    border-radius: var(--btn-size);
    cursor: pointer;
    background-size: var(--btn-size);
    background-color: #ffffff25;
    top: var(--tim-center-img);
}

.p-frame-btn:hover {
    background-color: #ffffff75;
    box-shadow: var(--shadow-normal);
}

.next-btn {
    background-image: var(--next-image-btn);
    right: 5px;
}

.back-btn {
    background-image: var(--back-image-btn);
    left: 5px;
}